.sidenav {
  padding: 30px;
  background-color: #fafbfc;
}

.sidenav-lista {
  display: grid;
  justify-items: center;
}

.sidenav-item img {
  min-width: 60px;
  max-width: 100px;
}

.sidenav-item {
  padding: 20px;
  margin: 0px auto 30px auto;
  background: white;
  box-shadow: 5px 5px 15px 0px rgb(44 44 44 / 15%);
  border-radius: 5px;
}

.sidenav-item:hover {
  background-color: #b07dfb;
  transition: 0.1s ease-out;
}
